
/*
referencia 
Versión de escritorio (base):	940 a 1000 px (mas usada 1366 x 768)
    Versión para tabletas	940 a 780 px
    Versión para teléfonos	780 px
 

    usado para coincidir con bootstrap
    Versión de escritorio (base):	> 960 px 
    Versión para tabletas	720 px a 960 pxpx
    Versión para teléfonos	< 720px
    */






@media all and (max-width: 960px) {
    .header {
        flex-direction: column;
        height: auto;
    }
        .nav ul {
            flex-direction: column;
            
        }
            .nav ul li {
                justify-content: center;
                
               
            }

    .main {
        display: flex;
        flex-flow: column wrap;
    }
    
        .section-mg {
            display: flex;
            flex-flow: column nowrap;
        }
        .aside {
            display: flex;
            flex-direction: row;
        }
            .news {
                flex: 1 1 50%;
            }
            .buscado {
                flex: 1 1 50%;
            }
}

@media all and (max-width: 720px) {
   
    .aside {
        order: -1;
        display: flex;
        flex-direction: column-reverse;
       
    }
  }
  
