/**** Notas adicionales de estilos ****/
/*
Font family
   Para los encabezados: font-family: 'Russo One', sans-serif;
    Para el cuerpo: font-family: 'Roboto', sans-serif;
*/



/*********************************** ESTILOS GENERALES ***************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-trad{
    translate: "no";
}

.subray{
    text-decoration: underline;
}

.negr{
    font-weight: bold;
}

.mayusc{
    text-transform: uppercase;
}

h1, h2, h3, h4{
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    
}

img, video{
    max-width: 100%; 
    /* Al 100% te aseguras de que todas las imágenes no excedan el tamaño del padre.  */
} 

body{
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Roboto', sans-serif;
    color: #e6d7e4;
    width: 97%;
    max-width: 1600px;
    margin: auto;
    background-color: #000000;
}

/***********************************  HEADER ***************************************/

header{
    /* width: 100%; */
    display: flex;
    /* flex-flow: column nowrap; */
}
    .header-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .header-logo img{
            width: 6rem;
        }
        .header-logo h1{
            color: #ca2d2d;
            letter-spacing: 2px;
            word-spacing: 3px;
            /* font-size: 3em; */
        }
    .header-nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-evenly;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        
        letter-spacing: 5px;
        margin: 1rem;
    }
        .button {
            display: flex;
            justify-content: center;
            
        }
            .button a{
                font-family: 'Russo One', sans-serif;
                color:#d7e6e6;
                font-weight: bold;
                font-size: 1.2rem;
                text-decoration: none;
                padding: 0.5rem 1rem;
                background-color:#1c2f22;
                border-radius: 1rem;
                box-shadow: 0 5px 0 #ca2d2d;
                transition: all .1s linear;
            }
                .button a:hover{
                    color: #ca2d2d;
                    background-color:#d7e6e6;
                }
                .button a:active {
                    transform: translateY(3px);
                }

/***********************************  FOOTER ***************************************/

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
  
}
.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.5rem;
}
    .arriba i{
        font-size: 2rem;
        padding: 0 3rem;
    }
    .social ul{
        display: flex;
    }
        .social ul li{
            list-style: none;
        }
            .social ul li a{
                font-size: 1.5rem;
                margin: 0 1rem;
                color: inherit;
                border-radius: 50%;
                border: 3px solid #d7e6e6;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
            }
            .fa-linkedin{
                color: #0e76a8;
            }
            .fa-youtube{
                color:#c4302b;
            }
            .fa-twitter{
                color: #00acee;
            }
            .fa-pinterest-p{
            color: #c8232c;
            }
                .social ul li a:hover{
                    background-color: #d7e6e6;
                }
                .social ul li a:active{
                    transform: scale(.8);
                }
                .social ul li a:hover{
                    background-color: #FFD700;
                }
.final-title-neon{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 0 1rem;
    animation: flicker 1.5s infinite alternate;
}
    /* Flickering animation */
    @keyframes flicker {
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
            text-shadow:
            0 0 4px #d7e6e6,
            0 0 11px #d7e6e6,
            0 0 19px #d7e6e6,
            0 0 40px #01c4e7,
            0 0 80px #01c4e7,
            0 0 90px #01c4e7,
            0 0 100px #01c4e7,
            0 0 150px #01c4e7
        }
        20%, 24%, 55% {
            text-shadow: none;
        }
    }

/*********************************** página INDEX ***************************************/




.img-glory, .img-cartel{
    width: 250px;
    height: auto;
    border: 3px double #ddd;
    border-radius: 4px;
    padding: 5px;
}

.index-main{
    font-family: 'Roboto', sans-serif;
display: flex;


}
    .main-articles-container{
        
        background-color: #1c2f22;
        display: flex;
        flex-direction: column;
    }
        .arstotzka-history-container{
            display: grid;
            grid-gap: 30px 30px;
            grid-template-areas: 
            "imagen-izq arstotzka"
            "himno himno"
            "imagen-der historia";
            align-items: center;
        }
            .arstotzka-history-container .img-glory{
                grid-area: imagen-izq;
                
            }
            .arstotzka-history-container .art-arstotzka{
                grid-area: arstotzka;
            }
            .arstotzka-history-container .himno {
                grid-area: himno;
                display: inline-flex;
                justify-content: space-evenly;
                align-items: center;
            }
            .arstotzka-history-container .himno .himno-audio{
                grid-area: himno-audio;
            }
            .arstotzka-history-container .art-historia{
                grid-area: historia;
            }
            .arstotzka-history-container .img-cartel{
                grid-area: imagen-der;
            }

    .mnistries-geography-container{
        display: flex;
    }
        .article-ministries{
            display: grid;
            background-color: #383c3c;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 50px repeat(2, 1fr);
            grid-template-areas:
            "titulo titulo titulo"
            "politico-izq . politico-der"
            "texto texto texto";
        }
            .article-ministries h2{
                grid-area: titulo;
                background-color: thistle;
                
            }

            .article-ministries .politico-der, .politico-izq{
                border-radius: 50%;
                width: 200px;
                border: 5px solid #e6d7e4; 
                
            }

            .article-ministries .politico-der{
                grid-area: politico-der;
                
            }
            .article-ministries .politico-izq{
                grid-area: politico-izq;
            }
            .article-ministries div{
                grid-area: texto;
            }
        .article-geography{
            background-color: #300e0c;
        }
    .aside-index {
        
           
display: flex;
flex-direction: column;
        }
            .aside-news{
                
            }
            
            .aside-wanted{          
                color:#d7e6e6;
                background-color: #055052;
                padding: 0 0.5rem 0.5rem;
                border-radius: 1rem;
                border: 3px solid #d7e6e6;
                text-decoration: none;
            }
                .aside-wanted h3{
                    color: #d7e6e6;
                    text-align: center;
                    font-size: 2rem;
                    text-decoration: none;
                }
                .aside-wanted:hover{
                    border: 3px solid #FFD700;
                }
                .aside-wanted:active{
                    transform: scale(.8);
                }




/*********************************** página POSTERS LISTO ***************************************/

.grid-posters{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 2rem 3rem;
    margin: 5rem 0;
    place-items: center;
}

    .grid-posters img{
        box-shadow: #d7e6e6 0px 20px 30px -10px;
    }
/*********************************** página BUSCADOS ***************************************/



.buscados-main {
    display: flex;
}

table {
    border: 5px double #055052;
    color: #d7e6e6;
    background-color: #14323a;
}
    th, td{
        text-align: center;
        vertical-align: middle;
        padding: 1rem 0;
    }
    #buscados-table thead tr:nth-child(2), #buscados-table tbody tr:nth-child(-n+3){
        background-color: #246163;
    }
    #buscados-table tbody .tr-title td:nth-child(odd){
        font-weight: bold;
        text-transform: uppercase;
        text-align: end;
    }
    #buscados-table tbody .tr-title td:nth-child(even){
        font-style: italic;
        text-align: center;
    }
        #buscados-table tbody img{
            width: 20rem;
        }
        #buscados-table tbody .tr-title img{
            width: 3rem;
        }
        
    #buscados-table tfoot{
    background-color: #ca2d2d;
    text-align: center;
    font-size: 1.5rem;
    font-size: bold;
    text-transform: uppercase;
    }
    
    .buscados-aside{
        background-color: #300e0c;
        color: #d7e6e6;
    }

.buscados-aside figure h3{
color:#888888;
}





/*********************************** página DENUNCIAS ***************************************/




/*********************************** página PAPERS, PLEASE ***************************************/
/* .papers-please-main{
    display: flex;
    flex-direction: column;
}


.papers-please-resumen{
    border: 1px solid red;
}

.papers-please-imagen-juego{

}


.papers-please-origen{
    border: 1px solid red;
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "texto texto texto"
    "imagen-1 imagen-2 imagen-2";
    border: 1px solid red;
}

.papers-please-origen h2{
    grid-area: titulo;
}

.papers-please-origen div{
    grid-area: texto;
}
.papers-please-origen img{
    grid-area: imagen-1;
}
.papers-please-origen a{
    grid-area: imagen-2;
    background-color: orange;
} */