
/*
referencia 
Versión de escritorio (base):	940 a 1000 px (mas usada 1366 x 768)
    Versión para tabletas	940 a 780 px
    Versión para teléfonos	780 px
 

    usado para coincidir con bootstrap
    Versión de escritorio (base):	> 960 px 
    Versión para tabletas	720 px a 960 pxpx
    Versión para teléfonos	< 720px
    */



*{
   /* margin: 10px;
    padding: 5px;*/
    box-sizing: border-box; /*para que las cajas no se desborden unas con otras*/
    font-family: 'Open Sans', sans-serif;
}

/********************** transiciones**********************/
.transition{
    background-color: green;
    -webkit-transition: background-color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    
    transition: background-color 0.5s linear;
    transition: color 0.5s linear;
  }
        .transition:hover{
            background-color: #3F51B5;
            color: white;
        }

h1, h2, h3 {
    font-family: 'Russo One', sans-serif;
}

.cursiva {
    font-style: italic;
    padding: 0;
    margin: 0;
}

.negrita {
    font-weight: bold;
}


img {
    width: 200px;
}





/****Envoltorio general****/
.wrapper {
   background-color: thistle;

}

.header {
    background-color: grey;
    display: flex;
    
  
}
    .top-logo {
        background-color: blue;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
    }
     
    .nav {
        background-color: green;
        display: flex;
        flex: 4 1 auto;
    }
         .nav ul {
            background-color: #000;    
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
            .nav ul li {
                background-color: red;
                display: flex;
                list-style: none;
               
             }
                .nav ul li a {
                    background-color: red; 
                    text-decoration: none;
                    
                 }

    .social {
        background-color: red;
        display: flex;
        flex: 1 1 auto;
        justify-content: space-evenly;
        align-items: center;

    }
        .social a {
            background-color: white;
        }



.main {
    background-color: rgb(62, 44, 65);
    display: flex;
    flex-flow: row nowrap;
}

    .section-main {
        background-color: cadetblue;
        
    }
        .section-a {
            background-color: blue;
            
        }
        .section-mg {
            background-color: rgb(92, 82, 127);
            display: flex;
        }
            .section-m {
                background-color: crimson;
                flex: 2 1 auto;
            }
                .img-politics {
                    background-color: deeppink;
                    display: flex;
                    justify-content: space-evenly;
                }

                .ministries {
                    background-color: deepskyblue;
                }

            .section-g {
                background-color: darkgrey;
                flex: 1 1 auto;
            }
                .img-map {
                    background-color: black;
                }
                .geography {
                    background-color: coral;
                }
               
                .article {
                    background-color: green;
                    flex: 1 1 50%;
                }
    
    .aside {
        background-color: salmon;
        
    }
        .news {
            background-color: yellow;
        }
        .buscado {
           background-color: red;
        }
           

.footer {
    background-color: rgb(110, 133, 178);
    display: flex;
    
    justify-content: center;
}



@media all and (max-width: 960px) {
    .header {
        flex-direction: column;
        height: auto;
    }
        .nav ul {
            flex-direction: column;
            
        }
            .nav ul li {
                justify-content: center;
                
               
            }

    .main {
        display: flex;
        flex-flow: column wrap;
    }
    
        .section-mg {
            display: flex;
            flex-flow: column nowrap;
        }
        .aside {
            display: flex;
            flex-direction: row;
        }
            .news {
                flex: 1 1 50%;
            }
            .buscado {
                flex: 1 1 50%;
            }
}

@media all and (max-width: 720px) {
   
    .aside {
        order: -1;
        display: flex;
        flex-direction: column-reverse;
       
    }
  }
  


  /*********************************************************************************/
  * {
    margin: 0px;
    padding: 0px;
    
    font-family: 'Open Sans', sans-serif;
}



h1, h2, h3 {
    font-family: 'Russo One', sans-serif;
    
}

body {
    box-sizing: border-box; /*para que las cajas no se desborden unas con otras*/
}


/**** header ****/

.header{
    height: 100px;
    background-color: yellow;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    
    
}
    .header-logo{
        background-color: red;
        
    }
        .header-logo img{
            height: 64px;
            
            flex: 1 1 auto;
        }

    .nav{
        
        flex: 4 1 auto;
    }
        .nav ul{
            background-color: green;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;        
            
        }
            .nav ul li{
                background-color: #fff;
                list-style: none;
                margin: 0 1.5rem;
                
              
                    
            }
                .nav ul li a{
                    text-decoration: none;
                
                        
                }                


    .social{
        display: flex;
        flex-wrap: nowrap;
        flex: 1 1 auto;
    }
        .social a{
            background-color: #000;
            
        }


.main{
    padding-top: 100px;;
}
/**** CSS GRID ****/
