/**** Notas adicionales de estilos ****/
/*
Font family
    Para el cuerpo: font-family: 'Open Sans', sans-serif;
    Para los encabezados: font-family: 'Russo One', sans-serif;
*/


/*color textocolor: #d7e6e6*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    background-color: blue;
}

h3{
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    background-color: green;
}



.body-index{
    font-family: 'Open Sans', sans-serif;
    width: 95%;
    max-width: 1600px;
    margin: auto;
    background-color: #000000;
    color:#d7e6e6;
}
/*
.main-articles-container{
    padding: 60px 0;
    
}
*/

/**** header ****/
header{
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}

    .header-logo{
        display: flex;
        flex-direction: column;
        margin: 5px 0;
       /* border: 1px solid green; */
        justify-content: center;
        align-items: center;
    }
        .header-logo img{
            width: 100px;
            margin-bottom: 5px;
        }
            .header-logo h1{
                color: #ca2d2d;
                letter-spacing: 2px;
                word-spacing: 3px;
                font-size: 3em;
                display:inline-block;
            }


    .header-nav{
        width: 60%;
        margin-bottom: 10px;
        /*background-color: green;*/
      /*  border: 1px solid red;*/
    }
        .header-nav ul {       
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-around;
        }
        
/**** botones con transiciones ****/

            .button {
                display:inline-block; 
                border-radius: 10px;
                background-color:#1c2f22;
                box-shadow: 0 5px 0 #ca2d2d;
                padding: 12px 20px;
                margin-bottom: 10px;
                transition: all .1s linear;
            }
                .button a{
                    color:#d7e6e6;
                    font-size: 1rem;
                    text-align: center;
                    text-decoration: none; 
                }
                 /* El usuario esta sobre el enlace */
                    .button:hover {
                        background-color:#d7e6e6;
                    } 
                    .button:hover a{           
                        color: #ca2d2d;
                    } 

                /* Enlaces activos */
                    .button:active {        
                        box-shadow: 0 2px 0 #ca2d2d;
                        transform: translateY(3px);
                    } 








/**** main ****/

main{
    display: flex;
    flex-wrap: nowrap;
}

    .main-articles-container{
        border: 5px solid red;
        display: flex;
        flex-direction: column;
    }

        .top-section-container{
            background-color: gold;
            
        }
            .article-arstotzka{
                background-color: firebrick;
                
            }
            .glory-gif {
                background-image: url("../img/glory.gif");
                width: 100%;
                padding-top: 62.5%; /* 8:5 Aspect Ratio */
                
                background-repeat: no-repeat; /*No se repetirá*/
                background-size: cover; /* Imagen al 100% del ancho */
                background-attachment: fixed; /*Posicion fija para la imagen*/
                /*position: relative;*/
            }
            .article-history{
                background-color: green;
                    border: 5px solid blueviolet; 
            }

        .section-ministries-geography-conatainer{
                background-color: firebrick;
                border: 5px solid grey; 
                display: flex;
        }    
            .section-ministries{
                background-color: green;
                border: 5px solid blueviolet; 
                flex: 2 1 auto;
            }
                .section-ministries img{
                    width: 100px;
                }
            .section-geography{
                background-color: gold;
                border: 5px solid blue; 
                flex: 1 1 auto;
            }
                .section-geography img{
                    width: 300px;
                }

    aside {
        /*background-color:#383c3c;*/
        background-color: green;
        border: 5px solid blue; 
    }
        .aside-news{
            background-color: firebrick;
            border: 5px solid grey; 
        }
        .aside-wanted{
            background-color: greenyellow;
            border: 5px solid red;
        }

/********************** footer **********************/

footer {
    /*background-color: #300e0c;*/
    background-color: #000;
    border: 5px solid blue; 
    display: flex;
    flex-direction: column;
    padding: 10px;;
    
}
/**** Iconos del footer ****/
.iconos{
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-between;
    align-items: center;
}

/**** Icono IR ARRIBA ****/
.ir-arriba a{
    font-size: 30px;
    color:#d7e6e6;
    background-color: #1c2f22;
    text-decoration: none;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid #d7e6e6;
    display: flex;
    justify-content: center;
}
    .ir-arriba a:hover{
        border: 3px solid #FFD700;
        color: #FFD700;
    }

    .ir-arriba a:active{
        color:#ca2d2d;
        background-color: #d7e6e6;
        border: 3px solid #ca2d2d;
        transform: scale(.8);
    }



/****** Iconos SOCIAL MEDIA ******/
.social ul{
    display: flex;
}
    .social ul li{
        list-style: none;
    }
        .social ul li a{
            font-size: 20px;
            margin: 0 10px;
            /* background-color: #d7e6e6; */
            color: inherit;
            border-radius: 50%;
            border: 3px solid #d7e6e6;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        .fa-linkedin{
            color: #0e76a8;
        }
        .fa-youtube{
            color:#c4302b;
        }
        .fa-twitter{
            color: #00acee;
        }
        .fa-pinterest-p{
        color: #c8232c;
        }

        /* El usuario esta sobre el enlace */
        .social ul li a:hover{ 
            background-color: #d7e6e6;
        }

        /* Enlaces activos */    
        .social ul li a:active{ 
            transform: scale(.8);
        }

        /* páginas visitadas */
        .social ul li a:hover{ 
            background-color: #FFD700;
        }




/**** titulo final neón ****/
.final-title-neon{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    margin: 5px;
    animation: flicker 1.5s infinite alternate;
}
    /* Flickering animation */
    @keyframes flicker {
        
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
            text-shadow:
            0 0 4px #d7e6e6,
            0 0 11px #d7e6e6,
            0 0 19px #d7e6e6,
            0 0 40px #01c4e7,
            0 0 80px #01c4e7,
            0 0 90px #01c4e7,
            0 0 100px #01c4e7,
            0 0 150px #01c4e7
        }
        
        20%, 24%, 55% {        
            text-shadow: none;
        }    
    }



/**** página BUSCADOS ***/


.buscados-main {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border: 5px double #246163;
    border-collapse: collapse;
    background-color: #14323a;
}
th, td{
    border-bottom: 2px solid #246163;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
}




#buscados-table > tbody > .tr-title > td:nth-child(odd){
    font-weight: bold;
    text-transform: uppercase;
    text-align: end;
}

#buscados-table > tbody > .tr-title > td:nth-child(even):hover{
color: #BE0000;
background-color: #FAEEE0;

}
