
/*
    Versión de escritorio (base):	940 a 1000 px (mas usada 1366 x 768)
    Versión para tabletas	940 a 780 px
    Versión para teléfonos	780 px
    */




*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box; /*para que las cajas no se desborden unas con otras*/
    font-family: 'Open Sans', sans-serif;
}

/********************** transiciones**********************/
.transition{
    background-color: green;
    -webkit-transition: background-color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    
    transition: background-color 0.5s linear;
    transition: color 0.5s linear;
  }
        .transition:hover{
            background-color: #3F51B5;
            color: white;
        }

h1, h2, h3 {
    font-family: 'Russo One', sans-serif;
}

.cursiva {
    font-style: italic;
    padding: 0;
    margin: 0;
}

.negrita {
    font-weight: bold;
}


img {
    width: 200px;
}

/**** para el formulario mcon bootstrap ***/
fieldset {
    margin: 5px;
}

/****Envoltorio general****/
.wrapper {
   background-color: thistle;

}

.header {
    background-color: grey;
    display: flex;
    
  
}
    .top-logo {
        background-color: blue;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
    }
     
    .nav {
        background-color: green;
        display: flex;
        flex: 4 1 auto;
    }
         .nav ul {
            background-color: #000;    
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
            .nav ul li {
                background-color: whitesmoke;
                display: flex;
                list-style: none;
             }
                .nav ul li a {
                    background-color: red; 
                    text-decoration: none;
                 }

    .social {
        background-color: red;
        display: flex;
        flex: 1 1 auto;
        justify-content: space-evenly;
        align-items: center;

    }
        .social a {
            background-color: white;
        }



.main {
    background-color: rgb(62, 44, 65);
    display: flex;
    flex-flow: row nowrap;
}

    .section-main {
        background-color: cadetblue;
        
    }
        .section-a {
            background-color: blue;
            
        }
        .section-mg {
            background-color: rgb(92, 82, 127);
            display: flex;
        }
            .section-m {
                background-color: crimson;
                flex: 2 1 auto;
            }
                .img-politics {
                    background-color: deeppink;
                    display: flex;
                    justify-content: space-evenly;
                }

                .ministries {
                    background-color: deepskyblue;
                }

            .section-g {
                background-color: darkgrey;
                flex: 1 1 auto;
            }
                .img-map {
                    background-color: black;
                }
                .geography {
                    background-color: coral;
                }
               
                .article {
                    background-color: green;
                    flex: 1 1 50%;
                }
    
    .aside {
        background-color: salmon;
        
    }
        .news {
            background-color: yellow;
        }
        .buscado {
           background-color: red;
        }
           

.footer {
    background-color: rgb(110, 133, 178);
    display: flex;
    
    justify-content: center;
}



@media all and (max-width: 800px) {
    .header {
        flex-direction: column;
        height: auto;
    }
        .nav ul {
            flex-direction: column;
            
        }
            .nav ul li {
                justify-content: center;
                
               
            }
    
    .main {
        display: flex;
        flex-flow: column wrap;
    }
        .section-mg {
            display: flex;
            flex-flow: column nowrap;
        }
        .aside {
            display: flex;
            flex-direction: row;
        }
            .news {
                flex: 1 1 50%;
            }
            .buscado {
                flex: 1 1 50%;
            }
}

@media all and (max-width: 600px) {
   
    .aside {
        order: -1;
        display: flex;
        flex-direction: column-reverse;
       
    }
  }
  